# Week 4 Peer Review Assignment - Working with data

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [52]:
# Import the required packages
import Pkg;
Pkg.add("Distributions")
Pkg.add("DataFrames")
Pkg.add("Random")
using Distributions, DataFrames, Random

In [53]:
# Seed the random number generator
Random.seed!(1234);

In [68]:
# Question 4: Create the 30 x 3 array named array_1
array_1 = [rand(Normal(0, 1), 30) rand(Normal(10, 2), 30) rand(5:15, 30)]

30×3 Matrix{Float64}:
 -1.05478    8.03774  11.0
 -0.987177   9.36723   5.0
  1.48217   10.5315   14.0
 -0.522772  12.1312    7.0
 -1.5807    12.77      8.0
  0.131842  10.1599    5.0
  0.447358   8.33326  14.0
 -0.396211   9.11351  15.0
  0.366773   6.67355  11.0
  0.621673   8.95754  13.0
  0.182588  10.368     5.0
  2.06353    7.4473   10.0
 -1.41453   12.0626   15.0
  ⋮
  0.076418  12.8977   10.0
  0.799335  11.5563   14.0
 -0.734161  11.3054    7.0
  0.259671  10.2087    8.0
 -1.04861   11.4836   11.0
  0.199609   8.22692   5.0
 -0.80678   13.408    14.0
  0.197804   9.07878  11.0
 -1.15533   12.7612    5.0
  0.81871   10.0231    7.0
  0.15131    8.95534  12.0
  1.24723    9.14291  10.0

In [69]:
# Question 5: Mean and variance of column 1
println("Mean_of_column_1: ", mean(array_1[:,1]), " Variance_of_column_1: ", var(array_1[:,1]));

Mean_of_column_1: -0.15533689760545608 Variance_of_column_1: 0.9381722981424526

In [70]:
# Question 5 (continued): Mean and variance of column 2
println("Mean_of_column_2: ", mean(array_1[:,2]), " Variance_of_column_2: ", var(array_1[:,2]));

Mean_of_column_2: 10.13649522943282 Variance_of_column_2: 3.5232847864485657

In [71]:
# Question 5 (continued): Mean and variance of column 3
println("Mean_of_column_3: ", mean(array_1[:,3]), " Variance_of_column_3: ", var(array_1[:,3]));

Mean_of_column_3: 10.366666666666667 Variance_of_column_3: 12.44712643678161

In [74]:
# Question 6: Import array_1 into a DataFrame named df
df = DataFrame(array_1, :auto)

30×3 DataFrame
 Row │ x1         x2        x3
     │ Float64    Float64   Float64
─────┼──────────────────────────────
   1 │ -1.05478    8.03774     11.0
   2 │ -0.987177   9.36723      5.0
   3 │  1.48217   10.5315      14.0
   4 │ -0.522772  12.1312       7.0
   5 │ -1.5807    12.77         8.0
   6 │  0.131842  10.1599       5.0
   7 │  0.447358   8.33326     14.0
   8 │ -0.396211   9.11351     15.0
   9 │  0.366773   6.67355     11.0
  10 │  0.621673   8.95754     13.0
  11 │  0.182588  10.368        5.0
  ⋮  │     ⋮         ⋮         ⋮
  21 │ -0.734161  11.3054       7.0
  22 │  0.259671  10.2087       8.0
  23 │ -1.04861   11.4836      11.0
  24 │  0.199609   8.22692      5.0
  25 │ -0.80678   13.408       14.0
  26 │  0.197804   9.07878     11.0
  27 │ -1.15533   12.7612       5.0
  28 │  0.81871   10.0231       7.0
  29 │  0.15131    8.95534     12.0
  30 │  1.24723    9.14291     10.0
                      9 rows omitted

In [75]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
rename!(df, Dict(:x1 => :Var1, :x2 => :Var2, :x3 => :Var3))

30×3 DataFrame
 Row │ Var1       Var2      Var3
     │ Float64    Float64   Float64
─────┼──────────────────────────────
   1 │ -1.05478    8.03774     11.0
   2 │ -0.987177   9.36723      5.0
   3 │  1.48217   10.5315      14.0
   4 │ -0.522772  12.1312       7.0
   5 │ -1.5807    12.77         8.0
   6 │  0.131842  10.1599       5.0
   7 │  0.447358   8.33326     14.0
   8 │ -0.396211   9.11351     15.0
   9 │  0.366773   6.67355     11.0
  10 │  0.621673   8.95754     13.0
  11 │  0.182588  10.368        5.0
  ⋮  │     ⋮         ⋮         ⋮
  21 │ -0.734161  11.3054       7.0
  22 │  0.259671  10.2087       8.0
  23 │ -1.04861   11.4836      11.0
  24 │  0.199609   8.22692      5.0
  25 │ -0.80678   13.408       14.0
  26 │  0.197804   9.07878     11.0
  27 │ -1.15533   12.7612       5.0
  28 │  0.81871   10.0231       7.0
  29 │  0.15131    8.95534     12.0
  30 │  1.24723    9.14291     10.0
                      9 rows omitted

In [76]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = df[11:30, :]

20×3 DataFrame
 Row │ Var1       Var2      Var3
     │ Float64    Float64   Float64
─────┼──────────────────────────────
   1 │  0.182588  10.368        5.0
   2 │  2.06353    7.4473      10.0
   3 │ -1.41453   12.0626      15.0
   4 │  0.134475   8.17839     15.0
   5 │ -0.750421  11.5092      14.0
   6 │  0.170778   7.41051      8.0
   7 │ -1.58492    9.38211     12.0
   8 │ -1.975     12.6134      15.0
   9 │  0.076418  12.8977      10.0
  10 │  0.799335  11.5563      14.0
  11 │ -0.734161  11.3054       7.0
  12 │  0.259671  10.2087       8.0
  13 │ -1.04861   11.4836      11.0
  14 │  0.199609   8.22692      5.0
  15 │ -0.80678   13.408       14.0
  16 │  0.197804   9.07878     11.0
  17 │ -1.15533   12.7612       5.0
  18 │  0.81871   10.0231       7.0
  19 │  0.15131    8.95534     12.0
  20 │  1.24723    9.14291     10.0

In [77]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×7 DataFrame
 Row │ variable  mean       min       median     max       nmissing  eltype
     │ Symbol    Float64    Float64   Float64    Float64   Int64     DataType
─────┼────────────────────────────────────────────────────────────────────────
   1 │ Var1      -0.158414  -1.975     0.142893   2.06353         0  Float64
   2 │ Var2      10.401      7.41051  10.2883    13.408           0  Float64
   3 │ Var3      10.4        5.0      10.5       15.0             0  Float64

In [78]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[:Cat1] = rand(["GroupA", "GroupB"], 20)

LoadError: ArgumentError: syntax df[column] is not supported use df[!, column] instead

In [79]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1     21     41
   2 │     2     22     42
   3 │     3     23     43
   4 │     4     24     44
   5 │     5     25     45
   6 │     6     26     46
   7 │     7     27     47
   8 │     8     28     48
   9 │     9     29     49
  10 │    10     30     50
  11 │    11     31     51
  12 │    12     32     52
  13 │    13     33     53
  14 │    14     34     54
  15 │    15     35     55
  16 │    16     36     56
  17 │    17     37     57
  18 │    18     38     58
  19 │    19     39     59
  20 │    20     40     60

In [80]:
# Question 12: Change indicated values to empty entries
allowmissing!(df3);
df3[10, :A] = missing;
df3[15, :B] = missing;
df3[19, :C] = missing;
df3

20×3 DataFrame
 Row │ A        B        C
     │ Int64?   Int64?   Int64?
─────┼───────────────────────────
   1 │       1       21       41
   2 │       2       22       42
   3 │       3       23       43
   4 │       4       24       44
   5 │       5       25       45
   6 │       6       26       46
   7 │       7       27       47
   8 │       8       28       48
   9 │       9       29       49
  10 │ missing       30       50
  11 │      11       31       51
  12 │      12       32       52
  13 │      13       33       53
  14 │      14       34       54
  15 │      15  missing       55
  16 │      16       36       56
  17 │      17       37       57
  18 │      18       38       58
  19 │      19       39  missing
  20 │      20       40       60

In [81]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
df4 = df3;
for row in eachrow(df4)
    ismissing(row[:A]) && (row[:A] = 0)
end
for row in eachrow(df4)
    ismissing(row[:B]) && (row[:B] = 0)
end
for row in eachrow(df4)
    ismissing(row[:C]) && (row[:C] = 0)
end
df4

20×3 DataFrame
 Row │ A       B       C
     │ Int64?  Int64?  Int64?
─────┼────────────────────────
   1 │      1      21      41
   2 │      2      22      42
   3 │      3      23      43
   4 │      4      24      44
   5 │      5      25      45
   6 │      6      26      46
   7 │      7      27      47
   8 │      8      28      48
   9 │      9      29      49
  10 │      0      30      50
  11 │     11      31      51
  12 │     12      32      52
  13 │     13      33      53
  14 │     14      34      54
  15 │     15       0      55
  16 │     16      36      56
  17 │     17      37      57
  18 │     18      38      58
  19 │     19      39       0
  20 │     20      40      60