## Week 4 - working with data

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [4]:
# Import the required packages
using Distributions, DataFrames, Random

In [5]:
# Seed the random number generator
MersenneTwister(12345)

MersenneTwister(12345)

In [6]:
# Question 1: Create the 3 x 30 array named array_1
#array_1 = DataFrame(A = rand(Normal(0, 1), 30), B = rand(Normal(10, 2), 30), C = rand(5:15, 30));
array_1 = [rand(Normal(0, 1), 30) rand(Normal(10, 2), 30) rand(5:15, 30)]

30×3 Matrix{Float64}:
  0.678715    9.2912   14.0
 -0.825589    8.69577  15.0
  2.68458     8.04103  13.0
 -0.701147   13.9359   15.0
 -0.0468616  14.7578   11.0
  0.225348   10.4725    8.0
  1.77688     8.49893  12.0
 -1.57056    11.5365   15.0
  0.168193    6.51048  10.0
  0.506228   10.3549    8.0
  1.57205    11.6947   13.0
 -0.819483   12.2101   10.0
  0.612687    9.67893   8.0
  ⋮
 -0.379549   10.6287    7.0
  1.36882     7.0746   13.0
  1.22538    10.3168    7.0
 -0.763592   10.1698    8.0
  1.34296     9.03226  14.0
 -0.707299   14.1607    9.0
 -0.635208   11.6718    5.0
 -0.331317   10.0274    7.0
 -0.853068    9.92848   8.0
 -1.31328     9.36607   8.0
  0.316562   11.5286    9.0
  0.0396745   8.5033   10.0

In [20]:
# Question 2: Mean and variance of column 1
println("Column 1 mean: ", mean(array_1[:,1]), " variance: ", var(array_1[:,1]));

Column 1 mean: 0.14088710507248053 variance: 0.9844931964298332

In [21]:
# Question 3 (continued): Mean and variance of column 2
println("Column 2 mean: ", mean(array_1[:,2]), " variance: ", var(array_1[:,2]));

Column 2 mean: 10.162879348535686 variance: 4.395805268669746

In [22]:
# Question 3 (continued): Mean and variance of column 3
println("Column 3 mean: ", mean(array_1[:,3]), " variance: ", var(array_1[:,3]));

Column 3 mean: 9.8 variance: 9.131034482758624

In [23]:
# Question 4: Import array_1 into a DataFrame named df
df = DataFrame(array_1, :auto)

30×3 DataFrame
 Row │ x1          x2        x3
     │ Float64     Float64   Float64
─────┼───────────────────────────────
   1 │  0.678715    9.2912      14.0
   2 │ -0.825589    8.69577     15.0
   3 │  2.68458     8.04103     13.0
   4 │ -0.701147   13.9359      15.0
   5 │ -0.0468616  14.7578      11.0
   6 │  0.225348   10.4725       8.0
   7 │  1.77688     8.49893     12.0
   8 │ -1.57056    11.5365      15.0
   9 │  0.168193    6.51048     10.0
  10 │  0.506228   10.3549       8.0
  11 │  1.57205    11.6947      13.0
  ⋮  │     ⋮          ⋮         ⋮
  21 │  1.22538    10.3168       7.0
  22 │ -0.763592   10.1698       8.0
  23 │  1.34296     9.03226     14.0
  24 │ -0.707299   14.1607       9.0
  25 │ -0.635208   11.6718       5.0
  26 │ -0.331317   10.0274       7.0
  27 │ -0.853068    9.92848      8.0
  28 │ -1.31328     9.36607      8.0
  29 │  0.316562   11.5286       9.0
  30 │  0.0396745   8.5033      10.0
                       9 rows omitted

In [24]:
# Question 5: Change the names of the columns to Var1, Var2, and Var3
rename!(df, Dict(:x1 => :Var1, :x2 => :Var2, :x3 => :Var3))

30×3 DataFrame
 Row │ Var1        Var2      Var3
     │ Float64     Float64   Float64
─────┼───────────────────────────────
   1 │  0.678715    9.2912      14.0
   2 │ -0.825589    8.69577     15.0
   3 │  2.68458     8.04103     13.0
   4 │ -0.701147   13.9359      15.0
   5 │ -0.0468616  14.7578      11.0
   6 │  0.225348   10.4725       8.0
   7 │  1.77688     8.49893     12.0
   8 │ -1.57056    11.5365      15.0
   9 │  0.168193    6.51048     10.0
  10 │  0.506228   10.3549       8.0
  11 │  1.57205    11.6947      13.0
  ⋮  │     ⋮          ⋮         ⋮
  21 │  1.22538    10.3168       7.0
  22 │ -0.763592   10.1698       8.0
  23 │  1.34296     9.03226     14.0
  24 │ -0.707299   14.1607       9.0
  25 │ -0.635208   11.6718       5.0
  26 │ -0.331317   10.0274       7.0
  27 │ -0.853068    9.92848      8.0
  28 │ -1.31328     9.36607      8.0
  29 │  0.316562   11.5286       9.0
  30 │  0.0396745   8.5033      10.0
                       9 rows omitted

In [25]:
# Question 6: Create and new DataFrame named df2 from the last 20 rows of df
df2 = df[11:30, :]

20×3 DataFrame
 Row │ Var1        Var2      Var3
     │ Float64     Float64   Float64
─────┼───────────────────────────────
   1 │  1.57205    11.6947      13.0
   2 │ -0.819483   12.2101      10.0
   3 │  0.612687    9.67893      8.0
   4 │  0.441867   10.0346       8.0
   5 │  0.199261    6.82963      8.0
   6 │  0.861191    6.95186     10.0
   7 │ -0.332837   11.1733       6.0
   8 │ -0.513979   11.8098       5.0
   9 │ -0.379549   10.6287       7.0
  10 │  1.36882     7.0746      13.0
  11 │  1.22538    10.3168       7.0
  12 │ -0.763592   10.1698       8.0
  13 │  1.34296     9.03226     14.0
  14 │ -0.707299   14.1607       9.0
  15 │ -0.635208   11.6718       5.0
  16 │ -0.331317   10.0274       7.0
  17 │ -0.853068    9.92848      8.0
  18 │ -1.31328     9.36607      8.0
  19 │  0.316562   11.5286       9.0
  20 │  0.0396745   8.5033      10.0

In [26]:
# Question 7: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×7 DataFrame
 Row │ variable  mean        min       median     max       nmissing  eltype   ⋯
     │ Symbol    Float64     Float64   Float64    Float64   Int64     DataType ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Var1       0.0665419  -1.31328  -0.145821   1.57205         0  Float64  ⋯
   2 │ Var2      10.1396      6.82963  10.1022    14.1607          0  Float64
   3 │ Var3       8.65        5.0       8.0       14.0             0  Float64

In [27]:
# Question 8: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[!,:Cat1] = rand(["GroupA", "GroupB"], 20)

20-element Vector{String}:
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"

In [28]:
# Question 9: Create a new DataFrame named df3
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1     21     41
   2 │     2     22     42
   3 │     3     23     43
   4 │     4     24     44
   5 │     5     25     45
   6 │     6     26     46
   7 │     7     27     47
   8 │     8     28     48
   9 │     9     29     49
  10 │    10     30     50
  11 │    11     31     51
  12 │    12     32     52
  13 │    13     33     53
  14 │    14     34     54
  15 │    15     35     55
  16 │    16     36     56
  17 │    17     37     57
  18 │    18     38     58
  19 │    19     39     59
  20 │    20     40     60

In [29]:
# Question 10: Change indicated values to empty entries
allowmissing!(df3);
df3[10, :A] = missing;
df3[15, :B] = missing;
df3[19, :C] = missing;
df3

20×3 DataFrame
 Row │ A        B        C
     │ Int64?   Int64?   Int64?
─────┼───────────────────────────
   1 │       1       21       41
   2 │       2       22       42
   3 │       3       23       43
   4 │       4       24       44
   5 │       5       25       45
   6 │       6       26       46
   7 │       7       27       47
   8 │       8       28       48
   9 │       9       29       49
  10 │ missing       30       50
  11 │      11       31       51
  12 │      12       32       52
  13 │      13       33       53
  14 │      14       34       54
  15 │      15  missing       55
  16 │      16       36       56
  17 │      17       37       57
  18 │      18       38       58
  19 │      19       39  missing
  20 │      20       40       60

In [30]:
# Question 11: Create DataFrame df4 that contains no rows with NaN (NA) values
df4 = df3;
for r in eachrow(df4)
    ismissing(r[:A]) && (r[:A] = 0)
end
for r in eachrow(df4)
    ismissing(r[:B]) && (r[:B] = 0)
end
for r in eachrow(df4)
    ismissing(r[:C]) && (r[:C] = 0)
end
df4

20×3 DataFrame
 Row │ A       B       C
     │ Int64?  Int64?  Int64?
─────┼────────────────────────
   1 │      1      21      41
   2 │      2      22      42
   3 │      3      23      43
   4 │      4      24      44
   5 │      5      25      45
   6 │      6      26      46
   7 │      7      27      47
   8 │      8      28      48
   9 │      9      29      49
  10 │      0      30      50
  11 │     11      31      51
  12 │     12      32      52
  13 │     13      33      53
  14 │     14      34      54
  15 │     15       0      55
  16 │     16      36      56
  17 │     17      37      57
  18 │     18      38      58
  19 │     19      39       0
  20 │     20      40      60

# END